<mat-toolbar>
  <div
    class="menu"
    [ngStyle]="{'display' : (screenResize > 840) ? 'none' : 'block'}"
  >
    <button mat-icon-button id="menu" (click)="sideMenuService.openNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="mosip-logo">
    <span
      ><img
        src="./assets/images/logo.png"
        width="50"
        height="54"
        alt="Logo" /></span
    >&nbsp;
    <span
      [ngStyle]="{'display' : (screenResize > 840) ? 'inline-block' : 'none'}"
      ><b>MOSIP</b><b class="version-txt">
        {{ 'headermessage.vesion' | translate }} : {{ appVersion }}</b
      ></span
    >
  </div>
  <div class="zone">
    <h6>{{zone}}</h6>
  </div>
  <div class="profile">
    <app-hamburger-menu [data]="profile"></app-hamburger-menu>
  </div>
</mat-toolbar>
<div class="basic-container">
  <mat-grid-list cols="4" rowHeight="10px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.border]="tile.border"
      [style.background]="tile.color"
    >
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
